@import url('./style.css');

.seachbox {
  margin: 30px auto;
}
.seachbox label{
  font-family: 'Black Ops One', cursive;
}

.seachbox input{
  border-radius: 5px;
  display: inline-block;
  background-color: var(--font-dark-light);
  color: var(--font-light);
}

.seachbox a{
  display: inline-block;
}

.seachbox span{
  background-color: #9c9c9c;
  border-radius: 100%;
  color: var( --font-light);
  display: inline-block;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin: auto 5px;
  text-align: center;
  width: 30px;
}